@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3e3e3;
}
body #container {
  width: 100%;
}
body #container #bande {
  width: 100%;
  height: 7vh;
  display: flex;
  background-color: #404040;
  position: fixed;
}
body #container #bande .alert {
  position: absolute;
  font-size: 1.5rem;
  padding: 10px;
  background-color: #e3e3e3;
}
body #container #bande .alert-success {
  color: #05a805;
}
body #container #bande .alert-success {
  color: red;
}
body #container #bande #title {
  width: 30%;
  height: 100%;
  color: #00acfb;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  font-family: "MS Gothic", sans-serif;
}
body #container #bande #center {
  width: 40%;
  height: 100%;
}
body #container #bande #center h3 {
  color: #00acfb;
  padding: 5px;
  font-style: italic;
  font-size: 1.5rem;
}
body #container #bande #log {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: end;
}
body #container #bande #log #inscri {
  width: 100%;
  height: 100%;
  text-align: end;
  padding-top: 7px;
}
body #container #bande #log #connect {
  width: 100%;
  height: 100%;
  text-align: end;
  padding-top: 7px;
}
body #container #bande #log #deco {
  width: 100%;
  height: 100%;
  text-align: end;
  padding-top: 7px;
}
body #container #bande #log a {
  text-decoration: none;
  color: #00acfb;
}
body #container-body {
  display: flex;
  flex-direction: row;
  width: 100%;
}
body #container-body #nav {
  background-color: #4e4e4e;
  width: 10%;
  height: 95vh;
  display: inline-block;
  margin-top: 7vh;
  position: fixed;
}
body #container-body #nav #divNav {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
body #container-body #nav #divNav a {
  text-decoration: none;
  color: #00acfb;
}
body #container-body #nav #divNav .link {
  color: white;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #023785;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body #container-body #nav #divNav .link i {
  color: #00acfb;
}
body #container-body #nav #divNav .second {
  margin-top: 1px;
}
body #container-body .container {
  width: 90%;
  margin-top: 7vh;
  margin-left: 10%;
}
body #container-body .container #container-home {
  background-color: #e3e3e3;
  width: 100%;
}
body #container-body .container #container-home .divTitle {
  width: 100%;
  text-align: center;
}
body #container-body .container #container-home #img {
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  width: 600px;
  height: 400px;
  background-image: url("../pictures/home-img.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
body #container-body .container #container-home .divGet {
  width: 100%;
  background-color: #a50606;
}
body #container-body .container #container-home .divGet .divStory {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body #container-body .container #container-home .divGet .divStory .article {
  border: 1px solid black;
}
body #container-body .container #container-article {
  background-color: #e3e3e3;
  width: 100%;
  min-height: 100%;
}
body #container-body .container #container-article .divTitle {
  width: 100%;
  text-align: center;
}
body #container-body .container #container-article #container-global {
  width: 100%;
}
body #container-body .container #container-article #container-global #article-show {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
body #container-body .container #container-article #container-global #article-show .article {
  width: 100%;
  max-height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 1%;
  padding: 5px;
}
body #container-body .container #container-article #container-global #article-show .article .content {
  max-height: 110px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
body #container-body .container #container-article #container-global #article-show .article .author {
  width: 100%;
  height: 30px;
  border-top: 3px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
}
body #container-body .container #container-article #container-global #article-show .article .author .spanAut {
  color: #a50606;
  font-style: italic;
}
body #container-body .container .container-scp {
  background-color: #e3e3e3;
  width: 100%;
  min-height: 100%;
}
body #container-body .container .container-scp #titleSCP {
  text-align: center;
  width: 100%;
}
body #container-body .container .container-scp #titleSCP h1 {
  padding: 5px;
}
body #container-body .container .container-scp .container-global {
  width: 100%;
}
body #container-body .container .container-scp .container-global .article-show {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
body #container-body .container .container-scp .container-global .article-show .article {
  width: 100%;
  max-height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 1%;
  padding: 5px;
}
body #container-body .container .container-scp .container-global .article-show .article .content {
  max-height: 110px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
body #container-body .container .container-scp .container-global .article-show .article .author {
  width: 100%;
  height: 30px;
  border-top: 3px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
}
body #container-body .container .container-scp .container-global .article-show .article .author .spanAut {
  color: #a50606;
  font-style: italic;
}
body #container-body .container #containerEdit {
  background-color: #e3e3e3;
  min-height: 100%;
}
body #container-body .container #containerEdit #titleEdit h1 {
  text-align: center;
  padding: 15px;
}
body #container-body .container #containerEdit #form-editArticle {
  width: 100%;
}
body #container-body .container #containerEdit #form-editArticle form {
  width: 100%;
}
body #container-body .container #containerEdit #form-editArticle form #edit-Title {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
body #container-body .container #containerEdit #form-editArticle form #edit-Title input {
  width: 60%;
  height: 40px;
  text-align: center;
}
body #container-body .container #containerEdit #form-editArticle form #edit-Content #cke_content {
  padding: 5% 5% 1% 5%;
}
body #container-body .container #containerEdit #edit-valid {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #container-body .container #containerEdit #edit-valid .save {
  width: 200px;
  height: 60px;
  background-color: #2ba506;
  color: #e3e3e3;
  font-size: 1.5rem;
}
body #container-body .container #container-user {
  background-color: #e3e3e3;
  width: 100%;
  min-height: 100%;
}
body #container-body .container #container-user .divTitle {
  width: 100%;
  text-align: center;
}
body #container-body .container #container-user .profil {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
}
body #container-body .container #container-user .profil #info-user {
  width: 50%;
  height: 60vh;
  border: 5px solid #a50606;
  border-radius: 15px;
}
body #container-body .container #container-user .profil #info-user #pseudo {
  text-align: center;
  margin-top: 5px;
}
body #container-body .container #container-user .profil #info-user #infoUtil {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 15%;
  border: 1px solid black;
  margin-top: 15px;
}
body #container-body .container #container-user .profil #info-user #infoUtil #identity {
  width: 80%;
  height: 15%;
  display: flex;
  flex-direction: row;
}
body #container-body .container #container-user .profil #info-user #infoUtil #identity div {
  width: 50%;
  padding: 5px;
}
body #container-body .container #container-user .profil #info-user #infoUtil #identity div span {
  color: #a50606;
}
body #container-body .container #container-user .profil #info-user #infoUtil #divMail {
  width: 80%;
  height: 10%;
  padding: 5px;
  margin-top: 5px;
}
body #container-body .container #container-user .profil #info-user #infoUtil #divMail span {
  color: #a50606;
}
body #container-body .container #container-user .profil #info-user #upUse {
  border: 3px solid black;
  background-color: #37ba08;
  width: 60%;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
body #container-body .container #container-user .profil #info-user #upUse a {
  text-decoration: none;
  color: #e3e3e3;
  font-weight: bold;
}
body #container-body .container #container-user .profil #info-user #supUse {
  border: 3px solid black;
  background-color: #ba0808;
  width: 40%;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #container-body .container #container-user .profil #info-user #supUse a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
body #container-body .container #container-user .profil #user-article {
  width: 30%;
  height: 100%;
  border: 5px solid #a50606;
  border-radius: 15px;
}
body #container-body .container #container-user .profil #user-article div h2 {
  text-align: center;
}
body #container-body .container #container-user .profil #user-article div div p {
  padding: 7px;
  margin-top: 5px;
}
body #container-body .container #container-user .profil #user-article #userList {
  width: 100%;
  padding: 7px;
}
body #container-body .container #container-user .profil #user-article #userList h3 {
  text-align: center;
}
body #container-body .container #container-user .profil #user-article #userList div {
  width: 100%;
}
body #container-body .container #container-user .profil #user-article #userList div div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body #container-body .container #container-user .profil #user-article #userList div div .geting {
  text-decoration: none;
  color: #0650a5;
}
body #container-body .container #container-user .profil #user-article #userList div div .deleting {
  text-decoration: none;
  color: #a50606;
}
body #container-body .container #container-user .articleForm {
  width: 90%;
  margin-top: 20px;
  border: 3px solid black;
  margin-bottom: 15px;
}
body #container-body .container #container-user .articleForm h2 {
  text-align: center;
}
body #container-body .container #container-user .articleForm form {
  margin-top: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body #container-body .container #container-user .articleForm form div {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #container-body .container #container-user .articleForm form div input {
  width: 50%;
  margin-top: 10px;
}
body #container-body .container #container-user .articleForm form div textarea {
  width: 100%;
}
body #container-body .container #container-user .articleForm form div .save {
  height: 40px;
  background-color: #21a506;
  font-size: 1.5rem;
  color: #e3e3e3;
  border: none;
}
body #container-body .container .container-form {
  background-color: #e3e3e3;
  width: 100%;
}
body #container-body .container .container-form h1 {
  text-align: center;
}
body #container-body .container .container-form #form-register {
  width: 100%;
  height: 100%;
}
body #container-body .container .container-form #form-register #register {
  width: 35%;
  height: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 70px auto auto auto;
}
body #container-body .container .container-form #form-register #register .div-lab {
  width: 80%;
  margin-top: 3px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
}
body #container-body .container .container-form #form-register #register .div-lab input {
  padding: 5px;
  border-radius: 8px;
}
body #container-body .container .container-form #form-register #register .button-inc {
  display: flex;
  justify-content: center;
  align-items: center;
}
body #container-body .container .container-form .title {
  width: 100%;
}
body #container-body .container .container-form .title h1 {
  padding: 5px;
}
body #container-body .container .container-form #form-login {
  width: 100%;
  padding: 70px;
}
body #container-body .container .container-form #form-login #login {
  width: 40%;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  padding: 10px;
}
body #container-body .container .container-form #form-login #login .labConnect {
  text-align: center;
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  padding: 2px;
}
body #container-body .container .container-form #form-login #login .labConnect input {
  padding: 5px;
  border-radius: 8px;
}
body #container-body .container .container-form #form-login #login .labConnect .save {
  margin-top: 6px;
}
body #articleView {
  width: 100%;
  min-height: 100%;
  background-color: #e3e3e3;
  padding: 10px;
}
body #articleView #titleA {
  width: 100%;
  margin-top: 5px;
}
body #articleView #titleA h1 {
  text-align: center;
}
body #articleView #contentA {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 15px;
}
body #articleView #nameA {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
body #articleView #nameA h2 span {
  color: #a50606;
  font-style: italic;
}
body #articleView #nameA #linkArticle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body #articleView #instruction {
  width: 60%;
  padding: 50px;
  font-size: 1.2rem;
  background-color: rgba(78, 78, 78, 0.12);
  border-radius: 5px;
}
body #articleView #addCom {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
body #articleView #commentArticle {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
body #articleView #commentArticle span {
  font-size: 1.1rem;
  font-weight: bold;
}
body #articleView #commentArticle #commentUser {
  width: 100%;
}
body #articleView #commentArticle #commentUser #commentary {
  width: 60%;
}
body #articleView #commentArticle #commentUser #place .commentPseudo {
  color: red;
}
body .politiqueShow {
  width: 100%;
}
body .politiqueShow .titles {
  width: 100%;
}
body .politiqueShow .titles h1 {
  text-align: center;
  padding: 5px;
}
body .politiqueShow div {
  width: 80%;
  padding: 20px;
}
body .politiqueShow div li {
  margin-left: 20px;
  margin-top: 5px;
}
body footer {
  width: 100%;
  background-color: black;
  margin-top: 23%;
}
body footer a {
  color: #e3e3e3;
  text-decoration: none;
}
body footer #divF {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body footer #divF .mentions {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/*
*  règles responsive (860px)
*/
@media screen and (max-width: 860px) {
  body #container #container-body .container .profil #info-user #infoUtil {
    height: 20%;
  }
  body #container #container-body .container .profil #info-user #infoUtil #identity {
    width: 100%;
    height: 30%;
  }
  body #container #container-body .container .profil #info-user #infoUtil #identity div {
    width: 50%;
    height: 100%;
  }
  body #container #container-body .container .profil #info-user #infoUtil #mail {
    width: 100%;
    height: 30%;
    margin-top: 5px;
  }
  body #container #container-body .container .profil #info-user #infoUtil #mail p {
    margin-top: 1px;
  }
  body #container #container-body .container .profil #info-user #upUse {
    font-size: 1rem;
  }
  body #container #container-body .container .profil #info-user #supUse {
    width: 60%;
    font-size: 1rem;
  }
}
/*
*  règles responsive (600px)
*/
@media screen and (max-width: 600px) {
  body #container #container-body #nav {
    width: 100%;
    height: 10vh;
  }
  body #container #container-body #nav #divNav {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  body #container #container-body #nav #divNav .link {
    color: white;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  body #container #container-body #nav #divNav .link i {
    color: red;
  }
  body #container #container-body #nav #divNav .second {
    margin-top: 1px;
    border-left: 1px solid #5f0505;
  }
  body #container #container-body .container {
    margin-left: 0;
    width: 100%;
  }
  body #container #container-body .container .profil {
    flex-direction: column;
  }
  body #container #container-body .container .profil #info-user {
    width: 100%;
    height: 40vh;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
  body #container #container-body .container .profil #info-user #infoUtil {
    height: 20%;
  }
  body #container #container-body .container .profil #info-user #infoUtil #identity {
    width: 100%;
    height: 30%;
  }
  body #container #container-body .container .profil #info-user #infoUtil #identity div {
    width: 50%;
    height: 100%;
  }
  body #container #container-body .container .profil #info-user #infoUtil #mail {
    width: 100%;
    height: 30%;
    margin-top: 5px;
  }
  body #container #container-body .container .profil #info-user #infoUtil #mail p {
    margin-top: 1px;
  }
  body #container #container-body .container .profil #info-user #upUse {
    font-size: 1rem;
  }
  body #container #container-body .container .profil #info-user #supUse {
    width: 60%;
    font-size: 1rem;
  }
  body #container #container-body .container .profil #user-article {
    width: 100%;
    height: 40vh;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
  body #container #container-body #container-article #container-global #article-show {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  body #container #container-body #articleView {
    width: 100%;
    min-height: 100%;
    background-color: #e3e3e3;
    padding: 10px;
    margin-top: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
